.Paper {
  padding: 2em;
  width: 100%;
}

.TextField {
  margin: 1em 0 !important;
}

.Button {
  margin: 10px;
}

.header {
  margin-bottom: 1em;
}

.caption {
  display: block;
}

.main_header {
  margin-bottom: 1em;
}

.results {
  width: 100%;
}
